body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #b692c2;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

header {
  border-bottom: 1px solid #bfe4f5;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #b6e2f7;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #f3dbd1;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: black;
  margin-left: 5px;
  font-size: 16px;
}

.search-form-button:hover {
  background-color: #03346e;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: #694f8e;
  font-weight: 500;
}

.weather-app-details strong {
  color: #e3a5c7;
}

.weather-app-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 76px;
  font-weight: bold;
}

.weather-app-icon {
  width: 72px;
  height: 72px;
  margin-top: 12px;
  margin-left: 28px;
}

.weather-app-unit {
  margin-top: 18px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #7c4764;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #694f8e;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 6px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #bfe4f5;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba (0, 0, 0, 0.6);
}
